---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.chronosjs.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.repo_url }}" style="background-image: url('{{ site.baseurl }}{{ site.chronosjs.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.chronosjs.author %}
        <div class="author-container"><h1>{{ site.chronosjs.author }}</h1></div>
        {% endif %}

        {% if site.chronosjs.tagline %}
        <div class="tagline-container"><p>{{ site.chronosjs.tagline }}</p></div>
        {% endif %}

        {% if site.chronosjs.brand %}
        <div class="brand-container">
            <a class="brand" href="{{ page.liveperson_url }}" style="background-image: url('{{ site.baseurl }}{{ site.chronosjs.brand }}')"></a>
        </div>
        {% endif %}
    </header>
    <main>
      {% if site.chronosjs.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
