<h2>About ChronosJS</h2><a href="{{ site.repo_url }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<p>A library which provides an ability to develop event driven applications using events, commands and request/response.</p>

<p>Together with Courier, one can integrate multiple applications into one, by allowing cross domain cross application event driven communication.</p>

<p>An application developer can integrate/embed a 3rd party application (provided the application uses courier as well) seamlessly and securely without worrying about cross domain issues.</p>

<p>Another use case is for building multi module application where each module can be it's own application and a developer will want to mix and match between them.</p>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="{{ site.repo_url }}">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="{{ site.repo_url }}">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="{{ site.liveperson_url }}">LivePerson Site</a>
  </li>
</ul>
