<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.chronosjs.author }} &#8226; {{ site.chronosjs.tagline | strip_html }}</title>

  <link rel="apple-touch-icon" href="{{ site.chronosjs.logo }}"/>
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ site.icon }}" type="{{ site.icontype | image/x-icon }}" />

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta name="author" content="{{ site.chronosjs.author }}">
  <meta name="description" content="{{ site.chronosjs.tagline }}"/>

  <meta property="og:title" content="{{ site.chronosjs.tagline }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.chronosjs.logo }}"/>
  <meta property="og:description" content="{{ site.chronosjs.description }}"/>
  <meta property="og:site_name" content="{{ site.chronosjs.tagline }}">

  {% if site.chronosjs.include_analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
